* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;

  grid-template-columns: minmax(150px, 1fr) 5fr;
  gap: 3px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1 / 6;

  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.logo {
  grid-column: 1 / 2;
  justify-self: start;
  min-width: 200px;
}

.menu{
  grid-column: 2 / 3;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.menu ul {
  list-style-type: none;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu li {
  grid-column: auto;
  min-width: 150px;
}

.sidebar {
  background-color: #C50208;
  grid-row: 2 / 4;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-column: 2 / 6;
}

.nav ul {
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;

  grid-column: auto;
}

.article {
  background-color: #bccbde;
  grid-column: 2/6;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / 6;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}